
.inline-block {
  font-size: inherit;
  color: initial;
  display: inline-block;
}
h1 {
  font-size: 56px;
  color: #45505b;
}
.text {
  color: #45505b;
}
.primary {
  color: #0563bb;
}
.typer {
  font-size: 26px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.typer-cursor {
  border-right: 3px solid #0563bb;
  overflow: hidden;
  margin-left: 8px;
}
.animation-typer {
  animation:
    typeranimation 6s steps(21) .4s infinite normal,
    blinkanimation 500ms steps(142) infinite normal;
}
.animation-typer-id {
  animation:
    typeranimationid 6s steps(20) .4s infinite normal,
    blinkanimation 500ms steps(142) infinite normal;
}
@keyframes typeranimation {
  from {
    width: 0;
  }
  to {
    width: 130px;
  }
}
@keyframes typeranimationid {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
@keyframes blinkanimation {
  from { border-color: #0563bb; }
  to { border-color: transparent; }
}
span {
  color: #0563bb;
  letter-spacing: 1px;
}
.social-media {
  margin-top: 30px;
  a {
    line-height: 1;
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: all .3s ease 0;
  }
}
@keyframes typedBlink {
  from { opacity: 1; }
  to { opacity: 0; }
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translate(10px, -10px);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .typer {
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
  }
  .animation-typer {
    animation:
      typeranimation 6s steps(21) .4s infinite normal,
      blinkanimation 500ms steps(142) infinite normal;
  }
  .animation-typer-id {
    animation:
      typeranimationid 6s steps(20) .4s infinite normal,
      blinkanimation 500ms steps(142) infinite normal;
  }
  @keyframes typeranimation {
    from {
      width: 0;
    }
    to {
      width: 110px;
    }
  }
  @keyframes typeranimationid {
    from {
      width: 0;
    }
    to {
      width: 80px;
    }
  }
}