#hero {
  width: 100%;
  background: url('~@/assets/img/Web Project Photo Home.jpg') top right no-repeat;
  background-size: cover;
  position: relative;
  /*
  height: calc(100vh - 120px);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &::before {
    content: '';
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  */
}
#about,
#resume,
#portofolio,
#contact,
footer {
  width: 100%;
}
footer {
  background: #f7f8f9;
}

.content {
  &.on-loading {
    section {
      transform: scale(0.9) !important;
    }
  }
  section {
    transform: scale(1);
    transition: transform .3s ease-in-out;
  }
  // margin-left: 160px;
}
#hero {
  // height: 100vh;
}
@media screen and (min-width: 769px) {
  #hero,
  #about,
  #resume,
  #portofolio,
  #contact,
  footer {
    padding-left: 160px;
    width: calc(100% - 160px);
  }
}
